@use "./../../../lib/components/styling/vars.scss" as c;

.login-card {
    width: 400px;
    height: fit-content;
    gap: 2rem;
    position: relative;

    .login-header {
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        white-space: nowrap;

        > img {
            height: 40px;
        }

        > h1 {
            margin: 0;
        }
    }

    .login-content {
        .login-splash-text {
            width: 100%;
            text-align: center;
            color: c.$muted-foreground;
            white-space: wrap;
            height: 70px;
            font-weight: 600;
        }
    }

    .login-footer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > * {
            width: 100%;
        }

        .login-footer-microsoft {
            > img {
                height: 15px;
            }
        }
    }
    
    .login-copyright {
        color: c.$muted-foreground;
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        bottom: -40px;
        font-size: 10pt;
        font-weight: 600;
    }
}
