.navbar-logo {
    flex: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;

    img {
        height: 32px;
        width: 32px;
    }

    > h2 {
        margin: 0;
        line-height: normal;
    }
}