@use "../../lib/components/styling/vars.scss" as c;

.nav-menu-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border: c.$border 1px solid;
    border-radius: 25px;

    > .nav-menu-avatar {
        height: inherit;
        width: inherit;
    }

    > svg {
        display: none;
    }
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.7rem;
    justify-content: start;
}
